$color-primary: #68422f;
$color-primary--light: #dfc4b2;
$color-primary--dark: #422618;
$color-secondary: #885532;

$main-bg: #eaeaea;

$color-white: #fff;
$color-red: rgb(202, 13, 13);
$color-green: rgb(3, 94, 3);
$color-blue: rgb(58, 58, 153);
$color-black: rgb(24, 19, 19);
$color-gray: #7c7c7c;
$color-gray--1: rgb(170, 170, 170);
$color-gray--2: #a1a1a1;

$skeleton-background: #b9b9b9;
$skeleton-shadow: #c9c9c9;

// Spacing
$spacer-1: 0.5rem;
$spacer-2: 1rem;
$spacer-3: 1.5rem;
$spacer-4: 2rem;
$spacer-5: 2.5rem;
$spacer-6: 3rem;
$spacer-7: 3.5rem;
$spacer-8: 4rem;
$spacer-9: 4.5rem;
$spacer-10: 5rem;


// Border / shadow
$border-radius-1: 6px;
$border-radius-2: 4px;
$shadow-primary: 0 0 6px 3px rgba(0, 0, 0, 0.2);

// Typographgy
$font-family-primary: 'Poppins', sans-serif;

$base-font-size: 1rem;
$header-font-size: 28px;
$header-font-size-2: 24px;
$header-font-size-3: 22px;
$header-font-size-4: 20px;
