@import 'src/styles/shared';

.hero {
    background-size: cover;
    background-position: center center;
    
    &__content {
        position: relative;
        text-align: center;
        padding: 75px 15px;
        z-index: 1;

        .hero--hp & {
            padding-bottom: 114px;
        }
        
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-white;
            transform: skewX(-12deg);
            z-index: -1;
        }
    }

    &__title {
        margin: 0;

        span {
            display: block;
            font-size: 14px;
            margin-top: 10px;
        }
    }
}