.btn {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  background-color: transparent;
  padding: 8px 15px;
  border: 2px solid $color-black;
  border-radius: $border-radius-1;
  transition: linear 0.3s;

  &:disabled {
    opacity: 0.75;
  }

  &:focus {
    outline: none;
  }

  &-primary {
    color: $color-white;
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover:not(:disabled) {
      background-color: $color-primary--dark;
      border-color: $color-primary--dark;
    }
  }

  &-link {
    text-transform: none;
    background-color: transparent;
    padding: 0;
    border: none;
  }
}
