label {
  font-size: 14px;
  font-weight: 600;
}

input {
  height: 38px;
  padding: 5px 15px;
  border: 1px solid $color-gray--1;
  border-radius: $border-radius-2;

  &:focus {
    border-color: $color-primary;
    outline: none;
  }

  &::placeholder {
    color: $color-gray;
  }
}
